.header {
  align-items: flex-start;
  background-color: #e8fdf5;
  padding: 60px;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
}

.headerText {
  display: inline-block;
  font-family: Arial;
  position: relative;
  padding: 10px;
}

.headerDesign {
  position: relative;
  left: 100px;
  display: inline-block;
  align-content: flex-end;
  padding-left: 40px;
}

.square1 {
  height: 150px;
  width: 150px;
  background-color: #bcebd4;
}

.square2 {
  position: absolute;
  top: 10px;
  left: 50px;
  height: 150px;
  width: 150px;
  background-color: #f5c0a2;
}
