/*
CSS for the CS142 project #4 Problem #2 states component

Since CSS uses a global name space for classes we should use names starting with
cs142-states- here.

*/

.cs142-states-state {
  display: inline-block;
  background-color: #f5c0a2;
  padding: 10px;
  margin: 10px;
}
